@media (max-width:480px) {
  .container {
    max-width: 335px;
    margin: 0 auto;
  }

  header {
    background-image: url("./images/background-top.png");
    background-repeat: no-repeat;
    height: 730px;
  }

  .navv {
    padding-top: 20px;
  }

  .navbar-brand {
    margin-right: 0px;
    margin-left: 30px;

  }

  .graph {
    display: none;
  }

  .monitor h1 {
    font-size: 31px;
    line-height: 120%;
    /* 37.2px */
  }


  .main-features .well {
    flex-wrap: wrap;
  }

  .techno {
    flex-direction: column;
    margin-top: 40px;
  }


  .report {
    margin-top: 71px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .report .repo-text {
    max-width: 335px;
    max-height: 190px;
  }

  .report .repo-text h2 {
    font-size: 30px;
    line-height: normal;
  }

  .report .repo-text p {
    font-size: 14px;
    line-height: 140%;
  }

  .repo-pic {
    width: 335px;
    height: 229px;
  }


  .repo-pic2 {
    width: 335px;
    height: 229px;
  }

  .repo-pic3 {
    width: 335px;
    height: 229px;
  }

  .card1 {
    display: none;
  }

  .card3 {
    display: none;
  }

  .cards {
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 80px;
  }

  .foot-links .foo {
    display: flex;
    gap: 36px;
    display: none;
  }

}